{% extends 'courseinfo/base.html' %}

{% block title %}
    Error Deleting Semester
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Semester</h2>
        <p>
            You may not delete semester {{ semester }}.  This
            course currently has the following
            registrations:
        </p>

        <ul>
            {% for registration in registrations %}
            <li><a href="{{ registration.get_absolute_url }}">{{ registration.student }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'courseinfo_section_list_urlpattern' %}">Course List</a>.
        </p>
    </div>
{% endblock %}
